.mrq {
    display: block;
    width: 300px;
    top:250px;
    height: auto;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.hearts {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -65%);
    width: 350px;
    height: auto;
    z-index: 2;
}
